/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* clearfix for floats */
@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon/icomoon.eot?w0h43f");
  src: url("../assets/fonts/icomoon/icomoon.eot?w0h43f#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon/icomoon.ttf?w0h43f") format("truetype"), url("../assets/fonts/icomoon/icomoon.woff?w0h43f") format("woff"), url("../assets/fonts/icomoon/icomoon.svg?w0h43f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon {
  padding: 0.5em; }

.icon-calendar:before {
  content: "\e900"; }

.icon-date:before {
  content: "\e900"; }

.icon-schedule:before {
  content: "\e900"; }

.icon-phone:before {
  content: "\e901"; }

.icon-magnifier:before {
  content: "\e902"; }

.icon-grid:before {
  content: "\e903"; }

.icon-list:before {
  content: "\e904"; }

.icon-addressbook:before {
  content: "\e905"; }

.icon-magnifier2:before {
  content: "\e906"; }

.icon-grid2:before {
  content: "\e907"; }

.icon-document:before {
  content: "\e005"; }

.icon-documents:before {
  content: "\e006"; }

.icon-search2:before {
  content: "\e007"; }

.icon-clipboard:before {
  content: "\e008"; }

.icon-newspaper:before {
  content: "\e009"; }

.icon-notebook:before {
  content: "\e00a"; }

.icon-book-open:before {
  content: "\e00b"; }

.icon-browser:before {
  content: "\e00c"; }

.icon-calendar2:before {
  content: "\e00d"; }

.icon-presentation:before {
  content: "\e00e"; }

.icon-picture:before {
  content: "\e00f"; }

.icon-video:before {
  content: "\e011"; }

.icon-camera:before {
  content: "\e012"; }

.icon-wallet:before {
  content: "\e016"; }

.icon-grid3:before {
  content: "\e019"; }

.icon-adjustments:before {
  content: "\e01d"; }

.icon-ribbon:before {
  content: "\e01e"; }

.icon-hourglass:before {
  content: "\e01f"; }

.icon-envelope:before {
  content: "\e028"; }

.icon-gears:before {
  content: "\e02b"; }

.icon-paperclip:before {
  content: "\e02d"; }

.icon-pencil:before {
  content: "\e032"; }

.icon-magnifying-glass:before {
  content: "\e037"; }

.icon-linegraph:before {
  content: "\e039"; }

.icon-map-pin:before {
  content: "\e047"; }

.icon-heart:before {
  content: "\e04a"; }

.icon-cloud:before {
  content: "\e04b"; }

.icon-upload2:before {
  content: "\e04c"; }

.icon-target:before {
  content: "\e04e"; }

.icon-global:before {
  content: "\e052"; }

.icon-compass:before {
  content: "\e053"; }

.icon-refresh:before {
  content: "\e05a"; }

.icon-happy:before {
  content: "\e05b"; }

.icon-sad:before {
  content: "\e05c"; }

.icon-facebook:before {
  content: "\e05d"; }

.icon-twitter:before {
  content: "\e05e"; }

.icon-googleplus:before {
  content: "\e05f"; }

.icon-cog:before {
  content: "\e908"; }

.icon-upload:before {
  content: "\e909"; }

.icon-search:before {
  content: "\e90a"; }

.icon-help_outline:before {
  content: "\e8fd"; }

.icon-menu:before {
  content: "\e90b"; }
